.social {
    display: flex;
    align-items: center;
    gap: 24px;
    
    a {
        height: 45px;
        width: 45px;
        background-color: #e1d4eb;
        border-radius: 100%;
        color: rgb(255, 255, 255);
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (min-width: 768px) {

        a{
            height: 40px;
            width: 40px;
        }

        
    }
}