.box-container {
    height: 71.5;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 6.5vh auto auto 6.5vh;
    grid-column-gap: 0;
    margin: 0;
}

.col{
    grid-row:  12 / span 4;
}